//colors
$gold-dark: #8e723b;
$gold: #bc9d58;
$black: #000000;
$black-normal: #1a1a1a;
$grey-dark: #333333;
$gray-medium: #666666;
$gray: #858585;
$gray2: #808080;
$gray-medium-light: #c8c8c8;
$gray-light: #e6e6e6;
$gray-lighter: #f2f2f2;
$gray-white: #f9f9f9;
$white: #ffffff;
$red-error: #fa2f53;
$blue: #488AD7;
$link-blue: #597CBD;
$black-light: #232323;